* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
}

header {
  padding: 40px;
  text-align: center;
  background: #13293d;
  color: #fff;
}

/* 
What happens when we set the display property to flex? 
TODO: Write your answer here 
*/
/* By using display flex in parent element, child elements automatically align
 like column or row with auto width and auto height */
nav {
  display: flex;
  background-color: #d8a47f;
}

nav a {
  color: #13293d;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

/* 
What is the flex-wrap property? 
TODO: Write your answer here 
The flex-wrap CSS property sets whether flex items are
forced onto one line or can wrap onto multiple lines
*/
main {
  display: flex;
  flex-wrap: wrap;
}

aside {
  flex: 1;
  background-color: #b9c6ae;
  padding: 80px;
  text-align: center;
}


footer {
  padding: 20px;
  text-align: center;
  background: #13293d;
  color: #fff;
}

/* 
What does the justify-content property do? 
TODO: Write your answer here 
The CSS justify-content property defines how the browser distributes space between and
around content items along the main-axis of a flex container, and the inline axis of a grid container.
*/
.products {
  flex: 4;
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* 
What is the flex property a shorthand property for?
What is it doing here? 
TODO: Write your answer here 
*/
.card {
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  padding: 10px;
  /* flex: 0 0 400px; */
  height: 20%;
  width: 80%;
  display: inline-block;
  padding: 20px;
  justify-content: left;
  align-items: center;
}

.float-child {
  width: 50%;
  float: left;
  padding: 20px;
  /* border: 2px solid black; */

}  
#about-me, #contact-me {
  width: 25%;
  height: auto;
  margin:0 auto;
  text-align: right;
  border-top-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-right:double
  
}

#w70 {
  width: 75%;
  height: 300px;
  margin:0 auto;
  text-align: auto;
  border-top-style: none;
  border-bottom-style: none;
  border-right-style: none;
  display: inline-block;
}

.card header {
  padding: 20px;
}

.card p {
  text-align: center;
}

.card img {
  width: 100%;
}



/* 
What does the flex-direction property define?
What is it doing here? 
TODO: Write your answer here 
The flex-direction CSS property sets how flex items are placed in 
the flex container defining the main axis and the direction (normal or reversed).
*/
@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }
}
